[Unit]
Description=Chocobot - Discord entity

[Service]
Type=simple
User=pi
ExecStart=/home/pi/.rvm/wrappers/ruby-2.5.8@chocobot/ruby /home/pi/chocobot/run.rb
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
